.vscode/c_cpp_properties.json
.vscode/settings.json
build/3D_math_lib.sln
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/.vs/3D_math_lib/CopilotIndices/17.13.449.12402/CodeChunks.db
build/.vs/3D_math_lib/CopilotIndices/17.13.449.12402/SemanticSymbols.db
build/.vs/3D_math_lib/FileContentIndex/0ed9f86b-25fb-470a-bb78-3c55f11caf68.vsidx
build/.vs/3D_math_lib/v17/.suo
build/.vs/3D_math_lib/v17/Browse.VC.db
build/.vs/3D_math_lib/v17/DocumentLayout.json
build/.vs/3D_math_lib/v17/Solution.VC.db
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/InstallScripts.json
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/4.0.3/CMakeCCompiler.cmake
build/CMakeFiles/4.0.3/CMakeCXXCompiler.cmake
build/CMakeFiles/4.0.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/4.0.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/4.0.3/CMakeRCCompiler.cmake
build/CMakeFiles/4.0.3/CMakeSystem.cmake
build/CMakeFiles/4.0.3/VCTargetsPath.txt
build/CMakeFiles/4.0.3/VCTargetsPath.vcxproj
build/CMakeFiles/4.0.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/4.0.3/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/4.0.3/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/4.0.3/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/4.0.3/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/4.0.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/4.0.3/CompilerIdC/Debug/CompilerIdC.tlog/Cl.items.tlog
build/CMakeFiles/4.0.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/4.0.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/4.0.3/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/4.0.3/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/4.0.3/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/4.0.3/CompilerIdC/Debug/CompilerIdC.tlog/link.secondary.1.tlog
build/CMakeFiles/4.0.3/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/4.0.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/4.0.3/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/4.0.3/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/4.0.3/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/4.0.3/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/4.0.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/4.0.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
build/CMakeFiles/4.0.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/4.0.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/4.0.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/4.0.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/4.0.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/4.0.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.secondary.1.tlog
build/CMakeFiles/4.0.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/4.0.3/VCTargetsPath/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/4.0.3/VCTargetsPath/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/c6f592eb2e02ea0d6229be523ae96f51/generate.stamp.rule
build/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/3D_math_lib.vcxproj
build/3D_math_lib.vcxproj.filters
build/3D_math_lib.dir/Debug/main.obj
build/3D_math_lib.dir/Debug/vc143.pdb
build/3D_math_lib.dir/Debug/3D_math_lib.tlog/3D_math_lib.lastbuildstate
build/3D_math_lib.dir/Debug/3D_math_lib.tlog/CL.command.1.tlog
build/3D_math_lib.dir/Debug/3D_math_lib.tlog/CL.read.1.tlog
build/3D_math_lib.dir/Debug/3D_math_lib.tlog/CL.write.1.tlog
build/3D_math_lib.dir/Debug/3D_math_lib.tlog/CustomBuild.command.1.tlog
build/3D_math_lib.dir/Debug/3D_math_lib.tlog/CustomBuild.read.1.tlog
build/3D_math_lib.dir/Debug/3D_math_lib.tlog/CustomBuild.write.1.tlog
build/3D_math_lib.dir/Debug/3D_math_lib.tlog/link-cvtres.read.1.tlog
build/3D_math_lib.dir/Debug/3D_math_lib.tlog/link-cvtres.write.1.tlog
build/3D_math_lib.dir/Debug/3D_math_lib.tlog/link-rc.read.1.tlog
build/3D_math_lib.dir/Debug/3D_math_lib.tlog/link-rc.write.1.tlog
build/3D_math_lib.dir/Debug/3D_math_lib.tlog/link.command.1.tlog
build/3D_math_lib.dir/Debug/3D_math_lib.tlog/link.read.1.tlog
build/3D_math_lib.dir/Debug/3D_math_lib.tlog/link.read.2.tlog
build/3D_math_lib.dir/Debug/3D_math_lib.tlog/link.read.3.tlog
build/3D_math_lib.dir/Debug/3D_math_lib.tlog/link.read.4.tlog
build/3D_math_lib.dir/Debug/3D_math_lib.tlog/link.write.1.tlog
build/3D_math_lib.dir/Debug/3D_math_lib.tlog/unsuccessfulbuild
build/Debug/3D_math_lib.pdb
build/3D_math.vcxproj
build/3D_math.vcxproj.filters
build/CTestTestfile.cmake
build/RUN_TESTS.vcxproj
build/RUN_TESTS.vcxproj.filters
build/3D_math.dir/Debug/3D_math.lib.recipe
build/3D_math.dir/Debug/Vec3.obj
build/3D_math.dir/Debug/3D_math.tlog/3D_math.lastbuildstate
build/3D_math.dir/Debug/3D_math.tlog/CL.command.1.tlog
build/3D_math.dir/Debug/3D_math.tlog/Cl.items.tlog
build/3D_math.dir/Debug/3D_math.tlog/CL.read.1.tlog
build/3D_math.dir/Debug/3D_math.tlog/CL.write.1.tlog
build/3D_math.dir/Debug/3D_math.tlog/CustomBuild.command.1.tlog
build/3D_math.dir/Debug/3D_math.tlog/CustomBuild.read.1.tlog
build/3D_math.dir/Debug/3D_math.tlog/CustomBuild.write.1.tlog
build/3D_math.dir/Debug/3D_math.tlog/Lib-link.read.1.tlog
build/3D_math.dir/Debug/3D_math.tlog/Lib-link.write.1.tlog
build/3D_math.dir/Debug/3D_math.tlog/Lib.command.1.tlog
build/CMakeFiles/b931ec6d9a61073296aeb827849da0d3/RUN_TESTS_force.rule
build/CMakeFiles/c6f592eb2e02ea0d6229be523ae96f51/RUN_TESTS_force.rule
build/Debug/3D_math.lib
build/Debug/3D_math.pdb
build/math_test/cmake_install.cmake
build/math_test/CTestTestfile.cmake
build/math_test/math_test.vcxproj
build/math_test/math_test.vcxproj.filters
build/math_test/RUN_TESTS.vcxproj
build/math_test/RUN_TESTS.vcxproj.filters
build/math_test/CMakeFiles/generate.stamp
build/math_test/CMakeFiles/generate.stamp.depend
build/math_test/Debug/math_test.exe
build/math_test/Debug/math_test.pdb
build/math_test/math_test.dir/Debug/main.obj
build/math_test/math_test.dir/Debug/math_test.exe.recipe
build/math_test/math_test.dir/Debug/math_test.ilk
build/math_test/math_test.dir/Debug/vc143.pdb
build/math_test/math_test.dir/Debug/math_test.tlog/CL.command.1.tlog
build/math_test/math_test.dir/Debug/math_test.tlog/Cl.items.tlog
build/math_test/math_test.dir/Debug/math_test.tlog/CL.read.1.tlog
build/math_test/math_test.dir/Debug/math_test.tlog/CL.write.1.tlog
build/math_test/math_test.dir/Debug/math_test.tlog/CustomBuild.command.1.tlog
build/math_test/math_test.dir/Debug/math_test.tlog/CustomBuild.read.1.tlog
build/math_test/math_test.dir/Debug/math_test.tlog/CustomBuild.write.1.tlog
build/math_test/math_test.dir/Debug/math_test.tlog/link.command.1.tlog
build/math_test/math_test.dir/Debug/math_test.tlog/link.read.1.tlog
build/math_test/math_test.dir/Debug/math_test.tlog/link.secondary.1.tlog
build/math_test/math_test.dir/Debug/math_test.tlog/link.write.1.tlog
build/math_test/math_test.dir/Debug/math_test.tlog/math_test.lastbuildstate
